 .mi-img{
    display: flex;
    align-items: center;
    justify-content: center;
}


.mi-img img{
    width: 200px;
    height: 200px;
    align-items: center;
}

.Nombre_Personaje, .Estatus_Personaje, .Especie_Personaje, .Id_Personaje {
    display: flex;
    align-items: center;
    text-align: center;
}

.Nombre_Personaje p, .Estatus_Personaje p, .Especie_Personaje p, .Id_Personaje p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    margin-right: 5px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}








